/*===========common color*/
/*===================theme color===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.fix:before, .fix:after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

/*=========================Background css======================================*/
.bg {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: .75;
  z-index: -1;
}

.btn {
  padding: 10px 40px;
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
}

.btn.box_button {
  background-color: #ff7740;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn.box_button:hover {
  background-color: #333;
}

.btn.border_button {
  border: 2px solid #ff7740;
  padding: 8px 40px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn.border_button:hover {
  border-color: #333;
  color: #ff7740;
}

/*=========================Section title CSS=======================================*/
.section_title {
  margin-bottom: 60px;
}

.section_title h4 {
  text-transform: capitalize;
  font-size: 45px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.section_title:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 20px;
  background-color: #ff7740;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.section_title p {
  max-width: 500px;
  margin: 0 auto;
}

/*==========================================margin///padding===============================*/
.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_justify {
  text-align: justify;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/*===========common color*/
/*===================theme color===============*/
.header_area {
  padding: 20px 0px;
}

.header_area .logo {
  float: left;
  width: 10%;
}

.header_area .menu {
  float: right;
  width: 940px;
  margin: 30px;
}

.header_area .menu ul {
  text-align: right;
}

.header_area .menu ul li {
  display: inline-block;
}

.header_area .menu ul li a {
  margin-left: 25px;
  font-size: 18px;
  font-weight: 500px;
  font-weight: 500;
}

.header_area .menu ul li a:hover {
  color: #ff7740;
}

.banner_content {
  color: #fff;
}

.banner_content h2 {
  font-size: 45px;
}

.banner_content p {
  color: #fff;
  max-width: 500px;
  margin: 30px auto;
}

a {
  margin: 0px 10px;
}

.single_about {
  border: 1px solid #dddd;
  padding: 40px 20px;
  float: left;
  width: 380px;
  margin-right: 30px;
}

.single_about:last-child {
  margin-right: 0px;
}

.single_about h4 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.single_about p {
  margin: 20px 0px;
}

.single_about a {
  color: #333;
}

#service_area {
  background-color: red;
}

section.service_area.pt-100.pb-100 {
  background-color: #f2f2f2;
}

/*==================Service area==============================*/
.single_service {
  background-color: #fff;
  padding: 30px;
  margin-right: 30px;
  width: 370px;
  float: left;
  margin-bottom: 30px;
  border: 3px solid #dddd;
  -webkit-transition: .3s;
  transition: .3s;
}

.single_service:hover {
  border-color: #ff7740;
}

.single_service:hover i {
  background-color: #ff7740;
  color: #fff;
  border-color: #ff7740;
}

.single_service:last-child {
  margin-right: 0px;
}

.single_service i {
  font-size: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #dddd;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.single_service h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin: 20px 0px;
}

.single_protfolio {
  height: 250px;
  width: 370px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  position: relative;
  border: 2px solid #dddd;
  -webkit-transition: .3s;
  transition: .3s;
}

.single_protfolio:hover {
  border-color: #ff7740;
}

.single_protfolio:last-child {
  margin-right: 0px;
}

.single_protfolio h4 {
  text-transform: capitalize;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: beige;
  position: absolute;
  text-align: center;
  font-size: 20px;
}

section.cta_area {
  color: #fff;
}

section.cta_area h4 {
  font-size: 50px;
  font-weight: 800;
  padding-top: 20px;
}

section.cta_area p {
  font-size: 25px;
  margin: 35px;
}

.single_blog {
  float: left;
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  border: 3px solid #dddd;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.single_blog:hover {
  border-color: #ff7740;
}

.single_blog:hover .blog_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.single_blog:last-child {
  margin-right: 0px;
}

.single_blog .blog_img {
  background-size: cover;
  background-position: center;
  height: 250px;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

.single_blog .blog_content {
  padding: 30px;
}

.single_blog .blog_content h4 {
  text-transform: capitalize;
  font-size: 30px;
}

.single_blog .blog_content p {
  margin: 20px 0px;
}

.contact_area {
  background: #f2f2f2;
}

.single_address {
  float: left;
  width: 400px;
}

.single_address i {
  font-size: 40px;
}

.single_address h4 {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 20px;
}

.single_address span {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  text-transform: lowercase;
}

.contact_bottom {
  margin-top: 50px;
}

.contact_bottom .contact_form {
  float: left;
  width: 700px;
  margin-right: 50px;
}

.contact_bottom input, .contact_bottom textarea {
  width: 100%;
  border: 1px solid #dddd;
  padding: 10px;
  margin-bottom: 10px;
}

.contact_bottom input[type="submit"] {
  background-color: #ff7740;
  padding: 10px 40px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: 0;
  width: auto;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact_bottom input[type="submit"]:hover {
  background-color: #333;
}

.contact_bottom .contact_map {
  float: right;
  width: 445px;
}

.contact_bottom .contact_map iframe {
  width: 100%;
  border: 1px solid #dddd;
  padding: 3px;
  height: 256px;
}

footer.footer_area {
  text-align: center;
  background-color: #333;
  padding: 20px 0px;
}

footer.footer_area p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */