



.single_about {
    border: 1px solid $border_gray;
    padding: 40px 20px;
    float: left;
    width: 380px;
    margin-right: 30px;
      &:last-child {
        margin-right: 0px;
    }
      h4 {
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 600;
    }

        p {
            margin: 20px 0px;
        }

        a {
            color: $black;
        }

}
