
.header_area {
    padding: 20px 0px;

    .logo {
        float: left;
        width: 10%;
    }
    .menu {
        float: right;
        width: 940px;
        margin: 30px;

        ul{
            text-align: right;
            li{
                display: inline-block;
                a{
                    margin-left: 25px;
                    font-size: 18px;
                    font-weight: 500px;
                    font-weight: 500;

                    &:hover{
                        color: $primary_color;

                    }
                }
            }
        }
    }
}